/**Fonts**/
@font-face {
    font-family: 'Gilmer Bold';
    src: url("../fonts/GilmerBold.otf") format("opentype");
}

@font-face {
    font-family: 'Gilmer Regular';
    src: url("../fonts/GilmerRegular.otf") format("opentype");
}

@font-face {
    font-family: 'Gilmer Light';
    src: url("../fonts/GilmerLight.otf") format("opentype");
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #ffffff;
    font-family: 'Gilmer Regular', Arial, Helvetica, sans-serif;
    margin: 0;
    overflow-x: hidden
}

/**Header**/
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 4.625rem;
    margin-top: 0rem;
    background-color: #ffffff;
    margin-bottom: 0.5rem;
    z-index: 100;
    font-family: 'Gilmer Regular', Arial, Helvetica, sans-serif;
    transition: all .3s;
    height: 0px;
}

header div {
    opacity: 0;
    transition: all .3s;
}

header .logo {
    margin-right: auto;
}

header .logo a img {
    margin-right: auto;
    width: 10rem;
    margin-left: 5rem;
}

.menu {
    display: flex;
    align-items: center;
    margin-right: 5rem;
}

.menu a {
    text-decoration: none;
    color: #000000;
    font-size: 1.2rem;
    margin-left: 3rem;
    overflow: hidden;
    display: block;
    position: relative;
    padding: 0.2em 0;
}

.menu a:not(:last-child)::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: rgb(0, 0, 0);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

.menu a:not(:last-child):hover::after,
.menu a:not(:last-child):focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}

.menu a:not(:last-child)::after {
    opacity: 1;
    transform: translate3d(-200%, 0, 0);
}

.menu a:not(:last-child):hover::after,
.menu a:not(:last-child):focus::after {
    transform: translate3d(0, 0, 0);
}

.menu a:last-child {
    color: #ffffff;
    padding: 1rem 2rem;
    border-radius: 5rem;
    background-color: #f62b32;
    font-family: 'Gilmer Bold', 'Gilmer Regular', Arial, Helvetica, sans-serif;
}

.menu a:last-child:hover {
    color: #f62b32;
    background-color: #ffffff0f;
    outline: 1px solid #f62b32;
}

/**Main**/

.container {
    width: 100%;
    margin-top: 4.625rem;
    overflow-x: hidden;
}

h1 {
    font-family: 'Gilmer Light', Arial, Helvetica, sans-serif;
    font-size: 4rem;
    color: #000000;
    padding: 13rem;
    padding-top: 10rem;
    text-align: center;
}

.p1z1, .present {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.partners div:last-child{
    padding: 5rem;
}

.partners p{
    width: 70%;
}

.partner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #fbf0f1;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
}

.partner img{
    width: 10rem;
    filter: brightness(0) invert(1) drop-shadow(0.1rem 0.1rem 0 rgba(0, 0, 0, 0.464)) ;
}

 .present:not(:last-child){
    padding-bottom: 12rem;
}

.p1z1 img {
    width: 60%;
    transition: 1.5s ease;
    opacity: 0;
    transform: translateX(-100%);
}

.text-zone:last-child{
    justify-content: center;
    text-align: left;
    font-size: 3rem;
    background-color: #fbf0f1;
}

.text-zone:last-child p{
    padding: 5rem;
    margin: 0;
}

.present img{
    width: 60%;
}

.p1z1 .bio {
    align-self: center;
    width: 30%;
    text-align: left;
    padding: 5rem;
    opacity: 0;
    transition: 0.8s ease;
}

.present .bio{
    align-self: center;
    width: 30%;
    text-align: left;
    padding: 5rem;
}

.biobig {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    text-align: left;
    font-size: 3rem;
    opacity: 0;
    padding-left: 15rem;
}

.biobig p:not(:last-child) {
    padding-bottom: 2rem;
}

.visible {
    height: 4.625rem;
}

.visible div {
    opacity: 1;
}

p {
    font-size: 1.5rem;
    color: #000000;
    font-family: 'Gilmer Regular', Arial, Helvetica, sans-serif;
}

.ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
}

.ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 5px;
    background-color: #f62b32;
    transform-origin: 0 50%;
    border-radius: 1rem;
}

.ml11 .line1 {
    top: 0;
    left: 0;
}

.ml11 .letter {
    display: inline-block;
    line-height: 1em;
}


.js-scroll {
    opacity: 0;
    margin: 0;
    transition: ease 0.7s;
}

.js-scroll.scrolled {
    opacity: 1;
}

.zoneimg {
    position: relative;
    display: grid;
    height: 100vh;
    overflow: hidden;
}

figure {
    margin: 0;
}

figure img {
    position: absolute;
    overflow: clip;
    transition: ease-in 1.5s;
    object-fit: cover;
    width: calc(var(--image-container-width, 662) / 1440 * 100%);
    height: calc(497 / 800 * 100%);
}

.imgh2 {
    left: 0;
}

.imgh3 {
    right: 0;
}

.p1z2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20rem;
    margin-bottom: 20rem;
}

.p1z2 p {
    width: 70%;
}

.p1z3 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.p1z3 div {
    background-color: #fbf0f1;
    padding: 2rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.p1z3 h2:not(:last-child) {
    font-size: 2rem;
    margin: 0 auto;
    text-align: center;
    width: 70%;
    font-family: 'Gilmer Regular', Arial, Helvetica, sans-serif;
    padding-bottom: 3rem;
}

.p1z3 p {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 2rem;
    font-family: 'Gilmer Light', Arial, Helvetica, sans-serif;
}

.contact {
    display: flex;
    flex-direction: row;
}

.contact h1 {
    font-family: 'Gilmer Light', Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: #000000;
    padding: 5rem;
    margin-bottom: 5rem;
    text-align: center;
}

.contact img {
    width: 40%;
    height: 100vh;
    object-fit: cover;
    display: block;
}

.contact-form {
    width: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
}

.contact-form h3 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

.contact-form p {
    margin: 0;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

form label {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    width: 45%;
    margin-bottom: 2rem;
}

label input {
    font-size: 1.3rem;
}

label input,
textarea {
    margin-top: 0.6rem;
    resize: none;
}

select {
    width: 100%;
    font-size: 1.4rem;
    font-family: 'Gilmer Regular', Arial, Helvetica, sans-serif;
    margin-bottom: 2rem;
    padding: 0.4rem;
    padding-left: 1.3rem;
    border-radius: 3rem;
}

form label:nth-last-child(2) {
    width: 95%;
}

input[type="submit"] {
    width: 25%;
    border-radius: 1rem;
    font-size: 1rem;
    font-family: 'Gilmer Regular', Arial, Helvetica, sans-serif;
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: #f62b32;
    border-color: #f62b32;
    background-color: #ffffff;
}

input[type="submit"]:hover {
    color: #ffffff;
    border-color: #f62b32;
    background-color: #f62b32;
}

footer {
    display: flex;
    justify-content:space-around;
}

footer img {
    width: 10%;
    padding: 10rem;
    margin-right: auto;
}

.menu-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 16rem;
}

.menu-footer a{
    text-decoration: none;
    color: #000000;
    margin-bottom: 0.6rem;
}

.menu-footer a:hover{
    color: #606060;
}

.partage {
    padding: 1rem 2rem;
    border-radius: 5rem;
    color: #2f2f2f;
    background-color: #ffffff0f;
    outline: 1px solid #2f2f2f;
    font-family:  'Gilmer Regular', Arial, Helvetica, sans-serif;
    display: inline-block;
    margin-top: 0.6rem;  
}

.partage:hover {
    color: #7c7b7c;
    background-color: #ffffff0f;
    outline: 1px solid #7c7c7c;
}

.partage:link {
    text-decoration: none;
}


@media screen and (max-width: 965px) {
    .p1z1 {
        flex-direction: column;
        width: 100%;
    }

    h1 {
        font-size: 2rem;
        padding:1rem ;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    h2 {
        font-size: 1rem;
    }
    p {
        font-size: 0.8rem;
        margin: 0rem;
    }

    .partners p{
        width: 100%;
    }

    .p1z1 img {
        width: 100%;
    }

    .partner img{
        width: 5rem;
    }

    .partners div:last-child{
        padding: 1.5rem;
    }

    .present {
        flex-direction: column;
    }

    .present img{
        width: 100%;
    }

    .present .bio{
        width: 80%;
        height: 100%;
    }

    .bio,
    .biobig {
        width: 100%;
        padding: 3rem;
        padding-left: 5rem;

    }

    .partage{
        padding: 0.5rem;
        font-size: 0.5rem;
    }

    .present:nth-child(2){
        flex-direction: column-reverse;
    }

    .present:not(:last-child) {
        padding-bottom: 0;
    }

    .text-zone:last-child p {
        padding: 2rem;
    }
}