/**Fonts**/
@font-face {
    font-family: 'Gilmer Bold';
    src: url("../fonts/GilmerBold.otf") format("opentype");
}

@font-face {
    font-family: 'Gilmer Regular';
    src: url("../fonts/GilmerRegular.otf") format("opentype");
}

@font-face {
    font-family: 'Gilmer Light';
    src: url("../fonts/GilmerLight.otf") format("opentype");
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #ffffff;
    font-family: 'Gilmer Regular', Arial, Helvetica, sans-serif;
    margin: 0;
    overflow-x: hidden
}

/**Header**/
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 4.625rem;
    margin-top: 0.5rem;
    background-color: #ffffff;
    margin-bottom: 0.5rem;
    z-index: 100;
    font-family: 'Gilmer Regular', Arial, Helvetica, sans-serif;
    transition: all .3s;
    height: 0px;
}

header div {
    opacity: 0;
    transition: all .3s;
}

header .logo {
    margin-right: auto;
}

header .logo a img {
    margin-right: auto;
    width: 10rem;
    margin-left: 5rem;
}

.menu {
    display: flex;
    align-items: center;
    margin-right: 5rem;
}

.menu a {
    text-decoration: none;
    color: #000000;
    font-size: 1.2rem;
    margin-left: 3rem;
    overflow: hidden;
    display: block;
    position: relative;
    padding: 0.2em 0;
}

.menu a:not(:last-child)::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: rgb(0, 0, 0);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

.menu a:not(:last-child):hover::after,
.menu a:not(:last-child):focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}

.menu a:not(:last-child)::after {
    opacity: 1;
    transform: translate3d(-200%, 0, 0);
}

.menu a:not(:last-child):hover::after,
.menu a:not(:last-child):focus::after {
    transform: translate3d(0, 0, 0);
}

.menu a:last-child {
    color: #ffffff;
    padding: 1rem 2rem;
    border-radius: 5rem;
    background-color: #f62b32;
    font-family: 'Gilmer Bold', 'Gilmer Regular', Arial, Helvetica, sans-serif;
}

.menu a:last-child:hover {
    color: #f62b32;
    background-color: #ffffff0f;
    outline: 1px solid #f62b32;
}

/**Main**/

.container {
    width: 100%;
    margin-top: 4.625rem;
    overflow-x: hidden;
}

h1 {
    font-family: 'Gilmer Light', Arial, Helvetica, sans-serif;
    font-size: 4rem;
    color: #000000;
    padding: 13rem;
    padding-top: 10rem;
    text-align: center;
}

.p1z1 {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.p1z1 img {
    width: 60%;
    transition: 1.5s ease;
    opacity: 0;
    transform: translateX(-100%);
}

.p1z1 .bio {
    align-self: center;
    width: 30%;
    text-align: left;
    padding: 5rem;
    opacity: 0;
    transition: 0.8s ease;
}

.biobig {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    text-align: left;
    font-size: 3rem;
    opacity: 0;
    padding-left: 15rem;
}

.biobig p:not(:last-child) {
    padding-bottom: 2rem;
}

.visible {
    height: 4.625rem;
}

.visible div {
    opacity: 1;
}

p {
    font-size: 1.5rem;
    color: #000000;
    font-family: 'Gilmer Regular', Arial, Helvetica, sans-serif;
}

.ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
}

.ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 5px;
    background-color: #f62b32;
    transform-origin: 0 50%;
    border-radius: 1rem;
}

.ml11 .line1 {
    top: 0;
    left: 0;
}

.ml11 .letter {
    display: inline-block;
    line-height: 1em;
}


.js-scroll {
    opacity: 0;
    margin: 0;
    transition: ease 0.7s;
}

.js-scroll.scrolled {
    opacity: 1;
}

.zoneimg {
    position: relative;
    display: grid;
    height: 100vh;
    overflow: hidden;
}

figure{
    margin: 0;
}

figure img {
    position: absolute;
    overflow: clip;
    transition: ease-in 1.5s;
    object-fit: cover;
    width: calc(var(--image-container-width, 662) / 1440 * 100%);
    height: calc(497 / 800 * 100%);
}

.imgh2 {
    left: 0;
}

.imgh3 {
    right: 0;
}

.p1z2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20rem;
    margin-bottom: 20rem;
}

.p1z2 p {
    width: 70%;
}

.p1z3{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20rem;
}

@media screen and (max-width: 965px) {
    .p1z1 {
        flex-direction: column;
        width: 100%;
    }

    .p1z1 img {
        width: 100%;
    }

    .bio,
    .biobig {
        width: 100%;
        padding-left: 5rem;
    }

}