/**Fonts**/
@font-face {
    font-family: 'Gilmer Bold';
    src: url("../fonts/GilmerBold.otf") format("opentype");
}
@font-face {
    font-family: 'Gilmer Regular';
    src: url("../fonts/GilmerRegular.otf") format("opentype");
}
@font-face {
    font-family: 'Gilmer Light';
    src: url("../fonts/GilmerLight.otf") format("opentype");
}